table.songs{
	width: calc(100% - 10px);
	padding: 5px;
}

table.songs tr:nth-child(even){
	background: var(--main-color);
}

table.songs th, table.songs td{
	height: 20px;
	padding: 4px;
}

table.songs th:not(.selector){
	cursor: default;
	text-align: left;
}

table.songs td.songName, table.songs td.clickable{
	cursor: pointer;
}

table.songs td.songName:hover, table.songs td.clickable:hover{
	text-decoration: underline;
}

table.songs td.trackNb{
	max-width: 35px;
	min-width: 35px;
	width: 35px;
}